@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

mx|TextInput
{
	borderSkin: Embed(source="assets/skins/TextInput_borderSkin.png");
	focusSkin: Embed(source="assets/skins/TextInput_focusSkin.png");
	color: #DEDEDE;
	fontFamily: Verdana;
}

mx|Button{
	color:#FC0;
	textRollOverColor:#FFF;
	font-size:12;
	font-weight:normal;
	padding-top:6; padding-bottom:6; padding-right:10; padding-left:10;
	textSelectedColor: #FFBD2F;
}

s|Button{
	color:#FC0;
	textRollOverColor:#FFF;
	font-size:12;
	font-weight:normal;
	padding-top:6; padding-bottom:6; padding-right:10; padding-left:10;
	textSelectedColor: #FFBD2F;
}

mx|DateField
{
	disabledSkin: Embed(source="assets/skins/DateField_disabledSkin.png");
	downSkin: Embed(source="assets/skins/DateField_downSkin.png");
	overSkin: Embed(source="assets/skins/DateField_overSkin.png");
	upSkin: Embed(source="assets/skins/DateField_upSkin.png");
	dateChooserStyleName:dateChooser;
	rowHeight:50;
	padding-left:6;
	padding-right:6;
}

mx|DataGrid
{
	background-color:#161616;
	border-color:#292929;
	
	columnDropIndicatorSkin: Embed(source="assets/skins/DataGrid_columnDropIndicatorSkin.png");
	columnResizeSkin: Embed(source="assets/skins/DataGrid_columnResizeSkin.png");
	
	headerBackgroundSkin: Embed(source="assets/skins/DataGrid_headerBackgroundSkin.png");
	header-colors:#303030,#161616;
	headerSeparatorSkin: Embed(source="assets/skins/DataGrid_headerSeparatorSkin.png");
	header-style-name:dgridHeader;
	
	sortArrowSkin: Embed(source="assets/skins/DataGrid_sortArrowSkin.png");
	stretchCursor: Embed(source="assets/skins/DataGrid_stretchCursor.png");
	
	rollOverColor: #BB8800;
	selectionColor: #AA6600;
	
	color: #F3F3F3;
	text-selected-color:#FFF;
	text-roll-over-color:#202020;
	
	verticalGridLines: true;
	alternatingItemColors: #292929, #1A1A1A;
	horizontalGridLines: false;
	fontSize: 15;
	fontFamily: Verdana;
}

mx|CheckBox
{
	disabledIcon: Embed(source="assets/skins/CheckBox_disabledIcon.png");
	downIcon: Embed(source="assets/skins/CheckBox_downIcon.png");
	overIcon: Embed(source="assets/skins/CheckBox_overIcon.png");
	selectedDisabledIcon: Embed(source="assets/skins/CheckBox_selectedDisabledIcon.png");
	selectedDownIcon: Embed(source="assets/skins/CheckBox_selectedDownIcon.png");
	selectedOverIcon: Embed(source="assets/skins/CheckBox_selectedOverIcon.png");
	selectedUpIcon: Embed(source="assets/skins/CheckBox_selectedUpIcon.png");
	upIcon: Embed(source="assets/skins/CheckBox_upIcon.png");
}

mx|ComboBox
{
	disabledSkin: Embed(source="assets/skins/ComboBox_disabledSkin.png",scaleGridLeft="13",scaleGridTop="17",scaleGridRight="66",scaleGridBottom="18");
	downSkin: Embed(source="assets/skins/ComboBox_downSkin.png",scaleGridLeft="13",scaleGridTop="17",scaleGridRight="66",scaleGridBottom="18");
	editableDisabledSkin: Embed(source="assets/skins/ComboBox_editableDisabledSkin.png",scaleGridLeft="13",scaleGridTop="15",scaleGridRight="14",scaleGridBottom="16");
	editableDownSkin: Embed(source="assets/skins/ComboBox_editableDownSkin.png",scaleGridLeft="12",scaleGridTop="10",scaleGridRight="13",scaleGridBottom="11");
	editableOverSkin: Embed(source="assets/skins/ComboBox_editableOverSkin.png",scaleGridLeft="13",scaleGridTop="12",scaleGridRight="14",scaleGridBottom="13");
	editableUpSkin: Embed(source="assets/skins/ComboBox_editableUpSkin.png",scaleGridLeft="13",scaleGridTop="12",scaleGridRight="14",scaleGridBottom="13");
	overSkin: Embed(source="assets/skins/ComboBox_overSkin.png",scaleGridLeft="13",scaleGridTop="17",scaleGridRight="66",scaleGridBottom="18");
	upSkin: Embed(source="assets/skins/ComboBox_upSkin.png",scaleGridLeft="13",scaleGridTop="17",scaleGridRight="66",scaleGridBottom="18");
	text-align:center;
}

s|View{
	backgroundColor:#2A2A2A;
	color:#FAFAFA;
	backgroundGradientAlphas: 1.0, 1.0;
	backgroundGradientColors: #262626, #1C1C1C;
	/*themeColor:#FC0;*/
}

mx|ProgressBar
{
	barSkin: Embed(source="assets/skins/ProgressBar_barSkin.png");
	indeterminateSkin: Embed(source="assets/skins/ProgressBar_indeterminateSkin.png");
	trackSkin: Embed(source="assets/skins/ProgressBar_trackSkin.png");
	color: #888;
	font-size:9;
	
}